*{
    font-family: sans-serif;
}
body{
    background-image: url(images/bg.png);
    margin: 0;
}
/*ТЕЛЕФОН*/
@media (min-width: 800px) {
    header{
        background-color: rgb(255, 161, 97);
        text-align: center;
        font-size: 5vw;
        border-width: 3px;
        border-style: solid;
        border-color: darkorange;
    }
    .tovar{
        display: inline-block;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(255, 161, 97);
        width: 47vw;
        text-align: center;
        background-color: rgb(246, 246, 246);
        margin-left: 1.5vw;
        vertical-align: top;
        margin-top: 2vh;
    }
    .tovar:hover{
        background-color: whitesmoke;
    }
    img{
        width: 47vw;
        height: 47vw;
    }
    h2{
        font-size: 4vw;
    }
    .price{
        font-size: 4vw;
    }
    .buy{
        border-width: 2px;
        border-style: solid;
        border-color: darkorange;
        border-radius: 5px;
        background-color: rgb(255, 161, 97);
        font-size: 4vw;
        font-weight: bold;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 7vw;
        padding-right: 7vw;
        text-decoration: none;
        color: black;
        transition: 0.2s;
    }
    .buy:hover{
        border-color: black;
    }
    .buy:active{
        background-color: darkorange;
    }
    footer{
        margin-top: 5vh;
        text-align: center;
        padding: 60px;
        background-color: black;
        color: white;
        font-size: 3vw;
    }
    .list{
        background-color: rgb(255, 161, 97);
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-width: 3px;
        border-style: solid;
        border-color: darkorange;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        font-size: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
        list-style: none;
    }
    .btn{
        text-decoration: none;
        color: black;
    }
    .btn:hover{
        color: gray;
    }
    .netu{
        text-align: center;
        font-size: 4vw;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        background-color: rgb(246, 246, 246);
        margin-top: 45vh;
        margin-left: 10vw;
        margin-right: 10vw;
        border-radius: 5px;
    }
}

/*ПК*/
@media (min-width: 1366px) {
    header{
        background-color: rgb(255, 161, 97);
        text-align: center;
        border-width: 2px;
        border-style: solid;
        border-color: darkorange;
        font-size: 1.5vw;
    }
    main{
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .tovar{
        display: inline-block;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(255, 161, 97);
        width: 14.5vw;
        text-align: center;
        background-color: rgb(246, 246, 246);
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-top: 1vh;
        vertical-align: top;
        transition: 0.2s;
    }
    .tovar:hover{
        background-color: rgb(230, 230, 230);
    }
    h2{
        font-size: 20px;
    }
    .price{
        font-size: 20px;
    }
    img{
        width: 14.5vw;
        height: 14.5vw;
    }
    .buy{
        border-width: 2px;
        border-style: solid;
        border-color: darkorange;
        border-radius: 5px;
        background-color: rgb(255, 161, 97);
        font-size: 20px;
        font-weight: bold;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        color: black;
        transition: 0.2s;
    }
    .buy:hover{
        border-color: black;
    }
    .buy:active{
        background-color: darkorange;
    }
    footer{
        margin-top: 5vh;
        padding: 50px;
        font-size: 20px;
        text-align: center;
        background-color: black;
        color: white;
    }
    .list{
        background-color: rgb(255, 161, 97);
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-width: 3px;
        border-style: solid;
        border-color: darkorange;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
        list-style: none;
    }
    .btn{
        text-decoration: none;
        color: black;
    }
    .netu{
        text-align: center;
        font-size: 20px;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        background-color: rgb(246, 246, 246);
        margin-top: 45vh;
        margin-left: 10vw;
        margin-right: 10vw;
        border-radius: 5px;
    }
}

